<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container container-sm">
  <div id="icon-header">
    <span class="fa fa-question-circle"></span>
  </div>
  <div id="text-column">
    <header class="secondary-header">
      <h1>Error 404: <strong>Page not found.</strong></h1>
      <p>This is not the page you're looking for.</p>
    </header>

    <nav class="secondary-nav">
      <ul>
        <li>
          快去找管理员，他或许有办法
        </li>
      </ul>
    </nav>
  </div>
</div>
</body>
</html>